<!-- navigationBar template -->
<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container poke-nav">
		<div class="navbar-header navbar-left">
      		<a class="navbar-brand" href="#">
            <!-- <img alt="brand" src="./images/logo.png"> -->
        		<span style="color:red">Pokémon</span><span style="color:white">Underground</span>
      		</a>
    	</div>
		<button type="button" class="btn btn-warning navbar-btn navbar-right" data-toggle="modal" data-target="#signin">Sign In <span class="glyphicon glyphicon-user" aria-hidden="true"></span></button>
	</div>
</nav>