<!-- navigationBar template -->
<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container poke-nav">
		<div class="navbar-header navbar-left">
      		<a class="navbar-brand" href="#">
            	<img alt="brand" src="./images/logo.png">
      		</a>
      		<p class="navbar-text"><span style="color:red">Pokémon</span><span style="color:white">Underground</span></p>
    	</div>
    	<form class="navbar-form navbar-left">
        	<div class="form-group">
          	<input type="text" class="form-control poke-search-bar" placeholder="Search">
        	</div>
      	</form>
      	
		<button type="button" class="poke-sign-up navbar-btn navbar-right" >Sign Up <span class="glyphicon glyphicon-user" aria-hidden="true"></span></button>
		<button type="button" class="btn btn-primary navbar-btn navbar-right" >Sign In</button>
		
	</div>
</nav>