<!-- navigationBar template -->
<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container poke-nav">
		<div class="navbar-header navbar-left">
      		<a class="navbar-brand" href="#">
        		<span class="logo-yellow">Pokémon</span><span class="logo-red">Underground</span>
      		</a>
    	</div>
    	
		<!-- <ul class="nav navbar-nav">
			<li><a href="#">Categrories</a></li>
			<li><a href="#"><b>Hi, Nnamdi</b></a></li>
		</ul>
		<form class="navbar-form navbar-right">
        	<div class="form-group">
          		<input type="text" class="form-control" placeholder="Search">
        	</div>
        	<button type="submit" class="btn btn-default">Search</button>
    </form>
        -->
		<button type="button" class="btn btn-warning navbar-btn navbar-right" data-toggle="modal" data-target="#signin">Sign In <span class="glyphicon glyphicon-user" aria-hidden="true"></span></button>
	</div>
</nav>